<h5> Blackjack!!!!</h5>
<h4>hi <%= session[:player_name] %> !</h4>

Dealers cards:
<br>
<ul>
    <% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
    <% end %>
</ul>

<br>

Players Cards:

<ul>
    <% session[:player_cards].each do |card| %>
    <li><%= card.to_s %></li>
    <% end %>
</ul>